In [1]:
import pandas as pd
import os

In [2]:
path='D:\CDS505\CDS505 Assignment 1\Dataset'
os.chdir(path)

df = pd.read_csv('shopping_behavior_updated.csv')

In [3]:
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

# Data Cleaning

## Checking Duplicates

In [4]:
#Checking duplicates
duplicate_rows = df.duplicated()
duplicate_df = df[duplicate_rows]
duplicate_df #None

Empty DataFrame
Columns: [Customer ID, Age, Gender, Item Purchased, Category, Purchase Amount (USD), Location, Size, Color, Season, Review Rating, Subscription Status, Shipping Type, Discount Applied, Promo Code Used, Previous Purchases, Payment Method, Frequency of Purchases]
Index: []

##

## Checking Null

In [5]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

##

# Transforming Data

In [6]:
#del df_new

df_new = df.copy()
df_new

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

## Binning Age

In [7]:
# Define the name of each bin
cut_label = ['Young', 'Middle', 'Senior', 'Old']

# Define the boundaries of the 4 bins
cut_bins = [15, 30, 50, 65, 80]

# Divide the data into 4 bins with the manually-defined range
df_new['Age Category'] = pd.cut(df_new['Age'], bins = cut_bins, labels = cut_label)

# View the count of each bin
df_new['Age Category'].value_counts()

Middle    1475
Senior    1121
Young      949
Old        355
Name: Age Category, dtype: int64

##

## Converting Shipping Type

In [8]:
df_new['Shopping Type'] = df_new['Shipping Type']
df_new['Shopping Type'] = df_new['Shipping Type'].replace({'Express':'Online', 'Free Shipping':'Online', 'Next Day Air':'Online', 'Standard':'Online','2-Day Shipping':'Online','Store Pickup':'Offline'})

In [9]:
df_new['Shopping Type'].value_counts()

Online     3250
Offline     650
Name: Shopping Type, dtype: int64

In [10]:
df_new['Shopping Type']

0        Online
1        Online
2        Online
3        Online
4        Online
         ...
3895     Online
3896    Offline
3897     Online
3898     Online
3899    Offline
Name: Shopping Type, Length: 3900, dtype: object

##

## Binning Review Ratings

In [11]:
# Define the name of each bin
cut_label = ['Poor', 'Fair', 'Average', 'Good', 'Superb']

# Define the boundaries of the 5 bins
cut_bins = [0, 1, 2, 3, 4, 5]

# Divide the data into 5 bins with the manually-defined range
df_new['Rating Summary'] = pd.cut(df_new['Review Rating'], bins = cut_bins, labels = cut_label)

# View the count of each bin
df_new['Rating Summary'].value_counts()

Good       1590
Superb     1463
Average     847
Poor          0
Fair          0
Name: Rating Summary, dtype: int64

##

## Binning Previous Purchases

In [12]:
# Define the name of each bin
cut_label = ['New', 'Regular', 'Loyal']

# Define the boundaries of the 3 bins
cut_bins = [0, 10, 25, 50]

# Divide the data into 3 bins with the manually-defined range
df_new['Customer Loyalty'] = pd.cut(df_new['Previous Purchases'], bins = cut_bins, labels = cut_label)

# View the count of each bin
df_new['Customer Loyalty'].value_counts()

Loyal      1935
Regular    1181
New         784
Name: Customer Loyalty, dtype: int64

In [17]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
 18  Age Category            3900 non-null   category
 19  Shopping Type           3900 non-null   object
 20  Rating Summary          3900 non-null   category
 21  Customer Loyalty        3900 non-null   category
dtypes: category(3), float64(1), int64(4), object(14)
memory usage: 591.0+ KB

##

## Output new csv

In [18]:
output_path = 'D:\\CDS505\\CDS505 Assignment 1\\Dataset\\shopping_behavior_updated_transformation.csv'

In [19]:
df_new.to_csv(output_path, index=False)